@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Transient 1 : @ViewBag.Transient <br />
    Transient 2 : @ViewBag.Transient2 <br />

    Scoped 1 : @ViewBag.Scoped <br />
    Scoped 2 : @ViewBag.Scoped2 <br />

    SingleTon 1 : @ViewBag.Singleton <br />
    SingleTon 2 : @ViewBag.Singleton2 <br />
</p>
